.title-box {
  background-color: rgb(153,170,179);
  background-image: url('../../icons/squiggles.png'), linear-gradient(90deg, rgba(153,170,179,1) 0%, rgba(54,78,91,1) 100%);
  background-repeat: repeat;
  background-size: cover;

  width: 97vw;
  height: 250px;
  border-radius: 12px;
  margin: 20px 30px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.title-box-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#box-title {
  color: white;
  font-size: 32px;
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

.box-temp-buttons-container {
  display: flex;
  justify-content: center;
}

#box-temp-buttons {
  border-radius: 50%;
  padding: 10px;
  text-align: center;

  height: 54px;
  margin: 20px;
}

#temp-text {
  display: flex;
  justify-content: center;

  color: whitesmoke;
}


/* -------------------- TEMPLATE BOXES -------------------- */
.temp-box-container {
  padding: 30px;
}

.temp-cards {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  /* overflow-x: hidden; */
  justify-content: center;

}

/* .temp-cards::-webkit-scrollbar {
  display: none;
} */

#temp-box {
  display: flex;
  /* width: 400px; */
}

.temp-box {
  /* height: 160px;
  width: 160px; */
  /* border: blue solid 1px;
  border-radius: 8px; */
  margin: 0 20px;
  cursor: pointer;

}

#temp-img {
  border-radius: 8px;
}


/* --------------------- RECENT DESIGNS --------------------- */
.recent-container {
  margin: 30px;
}

.recent-des {
  display: flex;
  flex-wrap: wrap;

}

.des-containers {
  display: flex;
  justify-content: center;

  border: rgb(235, 235, 235) solid 1px;
  background-color: rgb(242,243,245);
  border-radius: 8px;
  height: 180px;
  width: 280px;
  margin: 10px;
  flex-wrap: wrap;

  background-image: url('../../icons/recent-des.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.des-containers:hover {
  background-color: rgba(235, 235, 235, 0.3);
  cursor: pointer;
}

.des-containers h3 {
  display: flex;

  align-items: center;
  color: whitesmoke;
  font-style: oblique;
}
