@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700;800;900&family=Source+Sans+Pro&display=swap');
/* TODO Add site wide styles */

* {
  box-sizing: border-box;
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
}

html, body {
  top: 0;
  left: 0;
  margin: 0;
  color: rgb(72, 76, 79);
}

nav {
  display: flex;
  /* flex-direction: column; */
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  top: 0;
  left: 0;
  right: 0;
}

div {
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

button {
  background-color: rgb(153, 170, 179);
  color: white;
  border: 2px solid transparent;
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 0px 12px;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
  
}

form {
  margin: 14px;
}

.errors {
  color: red;
  font-size: 14px;
  font-style: oblique;
  text-align: center;
  background-color: rgb(255, 212, 212);
  padding: 4px;
  border-radius: 3px;
  list-style: none;
}
