#empty-div{
  background: linear-gradient(180deg, rgba(0,0,0,0.5) 20%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.5) 80%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#img-bckgd {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  z-index: -2;
}


#login-button {
  background-color: rgba(255, 255, 255, 0.2);
  border: white 2px solid;
  padding: 7px 15px;
  margin-right: 14px;
}

#signup-button {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.5);
  border: white 2px solid;
  padding: 7px 15px;
}
