/* --------------BACKGROUND-------------- */
#empty-div{
  background: linear-gradient(180deg, rgba(0,0,0,0.5) 20%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.5) 80%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#img-bckgd {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  z-index: -2;
}


/* --------------TITLE SECTION-------------- */
.login-page {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 20px 30px;
}

#logo {
  display: flex;
  align-items: center;
}

#logo img {
  margin-right: 18px;
}


/* --------------LOGIN/SIGNUP BUTTONS-------------- */
#login-button {
  background-color: rgba(255, 255, 255, 0.2);
  border: white 2px solid;
  padding: 7px 15px;
  margin-right: 14px;
}

#signup-button {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.5);
  border: white 2px solid;
  padding: 7px 15px;
}


/* --------------NAV BUTTONS-------------- */
#login-text {
  color: white;
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 4px;

  display: flex;
  align-items: center;
}

#login-text:hover {
  background-color: rgba(245, 245, 245, 0.2);
}

.des-dropdown-login {
  position: absolute;
  background-color: white;
  width: 200px;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: auto;
  top: 75px;
  left: 140px;

  border-radius: 6px;
  border: 1px solid rgb(235, 235, 235);
  text-align: left;
  padding: 20px;

  font-weight: 700;
  font-size: 16px;
  color: rgb(72, 76, 79);
  cursor: default;
}

.des-dropdown-login a {
  display: flex;
  margin-top: 10px;
  padding: 8px;

  color: rgb(72, 76, 79);
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  border-radius: 4px;
}

.des-dropdown-login a:hover {
  background-color: rgb(245, 245, 245);
}

/* --------------LOGIN/SIGNUP FORMS-------------- */
#demo-user {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  /* background-color: white;
  color:rgb(72, 76, 79); */
}

#demo-user:hover {
  background-color: rgba(72, 76, 79, 0.1);
}

#form-input {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

#form-input label,
#form-input-1 label {
  font-size: 12px;
  font-weight: 600;
}

#form-input input,
#form-input-1 input {
  height: 35px;
  border: 1px solid rgb(195, 195, 195);
  border-radius: 4px;
  padding: 0 10px;
}

#form-input input::placeholder,
#form-input-1 input::placeholder {
  color: rgba(225, 225, 225, 1);
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
}

#form-input-1 {
  display: flex;
  margin-top: 15px;
}

#form-input-1 input {
  width: 144px;
}

#form-input-1 input:first-of-type {
  margin-right: 7.5px;
}

#login-err {
  color: red;
  font-size: 12px;
}

#login-signup-button {
  display: flex;
  align-items: center;

  width: 100%;
  padding: 8px;
  background-color: white;
  color:rgb(72, 76, 79);
}

#login-signup-button svg {
  margin-right: 8px;
}

#login-signup-button:hover {
  color:rgba(72, 76, 79, 0.6);
}

#login-submit {
  width: 100%;
  padding: 8px;
  margin-top: 15px;
}
